In [1]:
import scipy.stats as stats
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
buyer=pd.read_csv("BuyerRatio.csv",index_col=0)
buyer

                 East  West  North  South
Observed Values
Males              50   142    131     70
Females           435  1523   1356    750

In [6]:
buyer.head()

                 East  West  North  South
Observed Values
Males              50   142    131     70
Females           435  1523   1356    750

In [11]:
table=[[50,142,131,70],[435,1523,1356,750]]

In [12]:
table

[[50, 142, 131, 70], [435, 1523, 1356, 750]]

In [7]:
stat,p,dof,exp=stats.chi2_contingency(buyer)

In [10]:
print(stat,p,dof,exp)

1.595945538661058 0.6603094907091882 3 [[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]]

In [13]:
stats.chi2_contingency(table)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [15]:
observed=np.array([50,142,131,70,435,1523,1356,750])
expected=np.array([42.7653,146.8128,131.1175,72.3042,442.2346,1518.1871,1355.8824,747.695])

In [26]:
statistics,p_value=stats.chisquare(observed,expected,ddof='3')
print('Statistics=',statistics,'P_value=',p_value)

ValueError: For each axis slice, the sum of the observed frequencies must agree with the sum of the expected frequencies to a relative tolerance of 1e-08, but the percent differences are:
2.468028431431739e-07