In [1]:
import scipy.stats as stats
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
Costomer=pd.read_csv('Costomer+OrderForm.csv')

Costomer

In [5]:
Costomer

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [6]:
Costomer.isnull().sum()

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

In [10]:
Costomer[Costomer.duplicated()].shape

(290, 4)

In [11]:
Costomer[Costomer.isnull().any(axis=1)]

Empty DataFrame
Columns: [Phillippines, Indonesia, Malta, India]
Index: []

In [12]:
Costomer.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [13]:
Costomer.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [14]:
Costomer.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [15]:
Costomer.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [16]:
obs=np.array([[271,267,280,269],[29,33,20,31]])
obs

array([[271, 267, 280, 269],
       [ 29,  33,  20,  31]])

In [18]:
count=pd.crosstab(Costomer['Phillippines'],Costomer['Indonesia'])
count

Indonesia     Defective  Error Free
Phillippines
Defective             2          27
Error Free           31         240

In [19]:
count=pd.crosstab(Costomer['Phillippines'],Costomer['India'])
count

India         Defective  Error Free
Phillippines
Defective             2          27
Error Free           18         253

In [20]:
count=pd.crosstab(Costomer['Phillippines'],Costomer['Malta'])

In [21]:
count

Malta         Defective  Error Free
Phillippines
Defective             4          25
Error Free           27         244

In [23]:
contingency_table=[[271,267,280,269],[29,33,20,31]]
contingency_table

[[271, 267, 280, 269], [29, 33, 20, 31]]

In [25]:
stat,p,df,exp=stats.chi2_contingency(contingency_table)

In [26]:
print('Statistics= ',stat,'p_value=',p,'degree of freedom=',df,'expected value=',exp)

Statistics=  3.858960685820355 p_value= 0.2771020991233135 degree of freedom= 3 expected value= (3.858960685820355, 0.2771020991233135, 3, array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]]))

In [27]:
observed=np.array([271,267,280,269,29,33,20,31])
expected=np.array([271.75,271.75,271.75,271.75,28.25,28.25,28.25,28.25])

In [32]:
test_statistics,p_value=stats.chisquare(observed,expected,ddof=df)
print('test statistics=',test_statistics,'p_value=',p_value)

test statistics= 3.858960685820355 p_value= 0.4254298144535761